body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    font-size: 30px;
    background-color: #6d28d9;
    color: #374151;
}
#out-box{
    background-color: #fbcfe8;
    border-radius: 12px;
    padding: 40px;
}
#top-box{
    text-align: center;
}
#bot-box{    
    color: #6b7280;
    font-weight: 600;
}

button {
    background-color: #facc15; /* gold */
    color: #4c1d95;            /* dark purple text */
    border:2px black 2px;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;

}
button:hover {
    background-color: #eab308;
}

h1{
    color: #4c1d95;
}
input{
    font-size: large;
    padding: 5px;
    /* margin-bottom: 5px; */
    width: auto;

}
button {
    display: block;
    margin: 25px auto;
}